<!DOCTYPE html>
<html data-ng-app="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Using angular directives, data binding and filters</title>
</head>
<body>
	<!-- initializing data in parent div -->
	<div class="container"  data-ng-init="customers=
	[
	  {
	    name: 'Christensen Poole',
	    city: 'Welda'
	  },
	  {
	    name: 'Henrietta Spencer',
	    city: 'Goochland'
	  },
	  {
	    name: 'Julie Church',
	    city: 'Makena'
	  },
	  {
	    name: 'Oconnor Turner',
	    city: 'Alamo'
	  },
	  {
	    name: 'Stewart Trujillo',
	    city: 'Northridge'
	  },
	  {
	    name: 'Mandy Reed',
	    city: 'Wakarusa'
	  },
	  {
	    name: 'Lidia Hebert',
	    city: 'Chelsea'
	  },
	  {
	    name: 'Jackie Tillman',
	    city: 'Noblestown'
	  },
	  {
	    name: 'Orr George',
	    city: 'Delshire'
	  },
	  {
	    name: 'Kathy Adkins',
	    city: 'Smock'
	  },
	  {
	    name: 'Chasity Maynard',
	    city: 'Bonanza'
	  },
	  {
	    name: 'Shana Gregory',
	    city: 'Gracey'
	  },
	  {
	    name: 'Barbara Key',
	    city: 'Chaparrito'
	  },
	  {
	    name: 'Sellers Cross',
	    city: 'Fairfield'
	  },
	  {
	    name: 'Bridgette Wall',
	    city: 'Hiseville'
	  },
	  {
	    name: 'Bennett Casey',
	    city: 'Greenwich'
	  },
	  {
	    name: 'Rush Berry',
	    city: 'Mathews'
	  },
	  {
	    name: 'Kirkland Buchanan',
	    city: 'Strong'
	  },
	  {
	    name: 'Moody Grant',
	    city: 'Albrightsville'
	  },
	  {
	    name: 'Debra Reynolds',
	    city: 'Loma'
	  }
	]">

	<div>
	Enter name here to filter : <input type="text" data-ng-model="name">
		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy:'name'">{{ cust.name }}  -  {{ cust.city }}</li>
		</ul>
	</div>
	</div>
<!-- input box to filter -->

<script src="js/angular.min.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>